<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="defaultAzureJdbcDriverClassName" class="java.lang.String">
      <constructor-arg value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
    </bean>

    <bean id="defaultAzureJdbcUrlSyntax" class="java.lang.String">
      <constructor-arg value="jdbc:sqlserver://%SERVERNAME.database.windows.net:1433;databaseName=%DBNAME;EncryptionMethod=SSL"/>
    </bean>


</beans>
